.heading--h1 {
  font-size: 32px;
}

.heading--h2 {
  font-size: 15px;
}

.heading--h2-modal {
  font-size: 20px;
}

.heading__label {
  margin-top: 4px;
  font-size: 12px;
  color: #71747C;
}

.heading--h3 {
  font-size: 14px;
}
